body{
  margin-top:15px;
}

.wrapper {
  padding: 5% 5%;
  margin: 5px 5% 0;
  border: 2px solid rgba( 255, 255, 255, 0.4 );
  background-color: #e5fff3;
  border-radius: 6px;
  box-shadow: 0 15px 20px -12px rgba(0, 0, 0, 0.5);
}
.quote {
  font-style: italic;
  font-family: Marion;
  padding: 10px 10%;
  font-size: 2em;
}

#about{
  font-size: 1.5em;
  font-family: Marion;
}

h1, h2, h3, h4, h5 {
  margin-top:-20px;
  display: block;
  position: relative;
  text-align: center;
  font-family: Georgia;
}