@charset "UTF-8";
@font-face {
  font-family: "Icons";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/Icons.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/Icons.eot?#iefix") format("eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/Icons.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/134921/Icons.ttf") format("truetype"), url("../fonts/Icons.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.section-contactboxes {
  font-family: "Dosis", sans-serif;
  margin-top: 6.25rem;
}

a {
  color: #f49263;
  text-decoration: none;
}

.contact-box-cntr:first-child {
  margin-top: 0;
}

.contact-box {
  border: 2px solid transparent;
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  text-align: center;
}
.contact-box:before {
  border-radius: 50%;
  content: "";
  height: 100px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100px;
  will-change: transform, opacity;
  z-index: 0;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
.contact-box:hover {
  cursor: pointer;
}
.contact-box:hover:before {
  opacity: 1;
  -moz-transform: scale3d(3.4, 3.4, 1);
  -ms-transform: scale3d(3.4, 3.4, 1);
  -webkit-transform: scale3d(3.4, 3.4, 1);
  transform: scale3d(3.4, 3.4, 1);
}
.contact-box:hover i, .contact-box:hover h4, .contact-box:hover p, .contact-box:hover a {
  position: relative;
  z-index: 2;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.contact-box__title {
  margin: 0.375rem 0 0 0;
  font-size: 2rem;
}

.contact-box__info {
  margin: 0;
}

.contact-box__icon {
  font-size: 2.5rem;
}

.contact-box--teal {
  color: #75bdbc;
  border-color: #75bdbc;
}
.contact-box--teal .contact-box__title {
  color: inherit;
}
.contact-box--teal:before {
  background-color: #75bdbc;
  border: 1px solid #75bdbc;
}
.contact-box--teal:hover {
  color: white;
}
.contact-box--teal:hover a {
  color: white;
}

.contact-box--orange {
  color: #f49263;
  border-color: #f49263;
}
.contact-box--orange .contact-box__title {
  color: inherit;
}
.contact-box--orange:before {
  background-color: #f49263;
  border: 1px solid #f49263;
}
.contact-box--orange:hover {
  color: white;
}
.contact-box--orange:hover a {
  color: white;
}

.contact-box--green {
  color: #8ccc80;
  border-color: #8ccc80;
}
.contact-box--green .contact-box__title {
  color: inherit;
}
.contact-box--green:before {
  background-color: #8ccc80;
  border: 1px solid #8ccc80;
}
.contact-box--green:hover {
  color: white;
}
.contact-box--green:hover a {
  color: white;
}

.ico {
  line-height: 0;
}
.ico:before {
  display: inline-block;
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-envelope:before {
  content: "";
}

.ico-phone:before {
  content: "";
}

.ico-clock:before {
  content: "";
}

#cont{
    padding-top:-100px;
    margin-top:50px;
    padding-bottom:120px;
}

#homeico{
    margin-top:10px;
    margin-bottom:6px;
}