@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
  margin-top:70px;
}

#jobtitle{
  font-size: 22px;
}

.team-specialization {
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
  padding: 35px 45px 15px;
  margin: 40px 240px;
  font-weight:500;
  font-size: 15px;	
	font-family: 'Lato', sans-serif;
}
.team-specialization:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(255,255,255,0);
  border-bottom-color: #fff;
  border-width: 30px;
  left: 50%;
  margin-left: -30px;
}
.team-specialization .progress {
  height: 35px;
}
.team-specialization .progress .bar {
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.team-specialization .progress .bar span.skill {
  padding: 0.1em 12px;
  display: inline-block;
  margin: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
}
.team-specialization .progress.html .bar {
  background: #ff8080;
}
.team-specialization .progress.java .bar {
  background: #ffb380;
}
.team-specialization .progress.C .bar {
  background: #ffff80;
}
.team-specialization .progress.VB .bar {
  background: #80ff80;
}
.team-specialization .progress.SQL .bar {
  background: #8080ff;
}
.team-specialization .progress.BS .bar {
  background: #80ffff;
}



@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

