@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body{
    padding-top:100px;
    margin: 0;
	width: 100%;
}

#social{
    margin-top:26px;
    padding-right:13px;
    text-align: center;
    position: relative;
}


.well {
    min-height: 120px;
    padding: 10px;
    margin-bottom: 20px;
    background: rgb(229, 255, 255);
    border: 0px solid rgb(153, 255, 255);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

li{
    display: inline-block;
}

* {
	transition: all .2s;
}

#brand{
	width:220px;
	margin-top:13px;
}

#name{
	position: relative;
	font-size: 20px;
	left:10px;
	font-family: 'Oswald', Helvetica, Arial,'LiHei Pro', '新細明體', sans-serif; !important;
}

#bs-example-navbar-collapse-1{
	
}
/* universal background-color Gator blue #333333 #0021A5 #000066 #00004d*/
#bg{
	background-color: #000033; 
}


body
{
    font-family: 'Lato', 'sans-serif';
    }
.profile 
{
    min-height: 355px;
    display: inline-block;
    }

.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #0021A5;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

.card:hover img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border: 5px solid rgba(0, 0, 0, .5);
  box-shadow: 0 0 3px rgba(255, 255, 255, .25);
}


/* card stripe */

.card:before {
  position: absolute;
  z-index: 2;
  content: '';
  left: 50%;
  top: -70px;
  margin: 0 0 0 -40px;
  height: 100px;
  width: 80px;
  background: rgba(255, 255, 255, .2);
  background-image: linear-gradient(left, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .4) 100%), linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), linear-gradient(top, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 0) 40%);
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .8);
  opacity: .5;
}


/* card stripe clip */

.card:after {
  position: absolute;
  content: '';
  z-index: 2;
  height: 20px;
  width: 20px;
  top: -55px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, .6), 0 0 10px rgba(0, 0, 0, .7), inset 2px 2px 2px rgba(0, 0, 0, .5);
}

.card header {
  position: relative;
  background: #ED3D34;
  height: 90px;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid rgba(180, 80, 80, .5);
  border-top: 1px solid rgba(221, 108, 108, .8);
  box-shadow: inset 0 1px 0 0 rgba(255, 120, 120, .8), 0 1px 2px rgba(0, 0, 0, .4);
  padding: 35px 20px;
  opacity: .9;
}


/* top gradient */

.card header:after {
  position: absolute;
  content: '';
  left: 1px;
  top: 1px;
  width: 100%;
  height: 10px;
  background: linear-gradient(bottom, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .05) 70%, rgba(255, 255, 255, 0) 100%);
}


/* card hole */

.card header:before {
  position: absolute;
  z-index: 1;
  content: '';
  left: 50%;
  top: 22px;
  margin: 0 0 0 -50px;
  height: 15px;
  width: 100px;
  border-radius: 25px;
  box-shadow: inset 1px 1px 0 1px rgba(0, 0, 0, .3), inset -1px -1px 0 0 rgba(255, 255, 255, .5);
}

.card header h1 {
  color: #fff;
  line-height: 90%;
  font-size: 35px;
  margin: 0;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .5);
}