
<link rel="stylesheet" href="css/aboutme.css">

<div class="container">
<div class="wrapper">
  <h1>About Me</h1>
  <!--<div class="quote"></div>-->
  <p id="about">I am currently working in Nicopure LLC. as an IT assistant. I am in charge of design, test, and implement Labeling programs with NiceLabel and NiceForm software by using VBScript and SQL and update and maintain the database. 
  Moreover, I have done the several projects, such as new label design, work order and label inventory. Completed some e-Liquids of popular flavors’ mixing experiments and put all the records into website for easy review. <br>
  When I worked as a Technical Engineer for T-tech, I enjoyed assisting customers in deploying an antivirus solution in their network environment.
  I developed several skills: building network and information security environments, 
  dealing with computer virus problems, and communicating on a personal level with customers. 
  Moreover, I have the ability to grasp new technical concepts and technologies quickly.<br>
 As a graduate student at the University of Florida with a concentration in IT,
  I am currently learning knowledge related to Information Technology, such as Java, SQL, networks, and encryption.
  I also have previous experience with statistics and in research. Furthermore, I am an enthusiastic, creative,
  and hardworking person who is looking to make an impact.<br>
  My goal is to apply what I have learned to assist companies in their goal to be successful and innovative.
  I am confident that my extensive training and valuable experience will allow me to become an asset and future leader in the field of Information Technology.</p>
</div>
</div>