<link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/contact.css">
<div class="container">
	<div class="jumbotron" id="cont">
		<h1>Contact Me</h1>
<section class="section-contactboxes">
  <div class="row">
    <div class="col-lg-4 contact-box-cntr">
      <div class="contact-box contact-box--teal">
        <i class=".contact-box__icon glyphicon glyphicon-home" id="homeico"></i>
        <h4 class="contact-box__title">Address</h4>
        <p class="contact-box__info">7823 SW 51st Blvd, Gainesville, FL</p>
      </div>
    </div>
    <div class="col-lg-4 contact-box-cntr">
      <div class="contact-box contact-box--orange">
        <i class="contact-box__icon ico ico-envelope"></i>
        <h4 class="contact-box__title">Email</h4>
        <p class="contact-box__info"><a href="mailto:Lark73327@gmail.com">Lark73327@gmail.com</a></p>
      </div>
    </div>
    <div class="col-lg-4 contact-box-cntr">
      <div class="contact-box contact-box--green">
        <i class="contact-box__icon ico ico-phone"></i>
        <h4 class="contact-box__title">Phone</h4>
        <p class="contact-box__info">352-278-4799</p>
      </div>
    </div>
  </div>
</section>
</div>
</div>