<!--<div class="jumbotron text-center">
	<h1>Education Page</h1>
	
	<p>{{ message }}</p>
</div>-->
<link rel="stylesheet" href="css/edu.css">

<div class="container">
	
<section id="timeline">
  <article>
    <div class="inner">
      <span class="date">
        
        <span class="month">2015</span>
        <span class="year">May</span>
      </span>
      <h2>Master of Science in Information Systems & Operations Management (ISOM)</h2>
      <img src="../img/HoughGSB_WCBA_UF.png" id="UF">
      <p><Strong>University of Florida</Strong>, Gainesville, FL
      <br>• Concentration: IT
      <br>• GPA: 3.59/4.00</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
     
        <span class="month">2009</span>
        <span class="year">June</span>
      </span>
      <h2>Master of Business Administration in Finance</h2>
      <p><Strong>National Changhua University of Education</Strong>, Changhua, Taiwan
      <br>GPA: 4.0/ 4.0</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        
        <span class="month">2007</span>
        <span class="year">June</span>
      </span>
      <h2>Bachelor of Business Administration in Statistics and Information Science</h2>
      <p><Strong>Fujen Catholic University</Strong>, Taipei, Taiwan</p>
    </div>
  </article>

</section>
</div>