<link rel="stylesheet" href="css/exp.css">
<div class="container" id"exptop">
<div class="wrapper">
<div id="workexperience" class="sectionClass">
  <div class="row ">
    <div class="sectiontitle">
      <h2>Work experience</h2>
      <span class="headerLine"></span>
    </div>
    <div class="fullWidth eight columns">
      <ul class="cbp_tmtimeline">

        <li>
          <div class="cbp_tmicon cbp_tmicon-screen">
            <i class="faPra fa-briefcase"></i>
          </div>
          <div class="cbp_tmlabel wow fadeInRight">
            <h3>IT Assistant</h3>
            <h4><i class="glyphicon glyphicon-map-marker"></i>Nicopure LLC., Gainesville, FL</h4>
            <div class="date"><i class="fa fa-calendar"></i>July 2015 - Current</div>
            <p class="projectParagraph">• Design, test, and implement the labeling program and maintain label printers
            <br>• Update and maintain database<br>• Organize the data of the SAP ERP system
            <br>• Design and implement the website of e-liquid experiment results</p>
          </div>
        </li>
        <li>
         <div class="cbp_tmicon cbp_tmicon-phone">
            <i class="faPra fa-briefcase"></i>
          </div>
          <div class="cbp_tmlabel wow fadeInRight">
            <h3>Technical Engineer</h3>
            <h4><i class="glyphicon glyphicon-map-marker"></i>T-tech Co., Ltd., Taipei, Taiwan</h4>
            <div class="date"><i class="fa fa-calendar"></i>January 2012 - September 2012</div>
            <p class="projectParagraph">• Information Security Administrator<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Covered Kaspersky Enterprise Edition antivirus software<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oversaw network security<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assisted customers in building information security environment
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resolved computer virus problems<br>• Trained new team members to development environment<br>• Translated English software documentation to Traditional Chinese</p>
          </div>
        </li>
        <li>
         <div class="cbp_tmicon cbp_tmicon-phone">
            <i class="faPra fa-briefcase"></i>
          </div>
          <div class="cbp_tmlabel wow fadeInRight">
            <h3>Fuel supply technician</h3>
            <h4><i class="glyphicon glyphicon-map-marker"></i>Republic of China Air Force, Chiayi, Taiwan</h4>
            <div class="date"><i class="fa fa-calendar"></i>September 2009 – August 2010</div>
            <p class="projectParagraph">• Managed of all types of fuel and drum, recycling, transportation and supply<br>• Handled computer maintenance in my camp</p>
          </div>
        </li>
        <li>
          <div class="cbp_tmicon cbp_tmicon-phone">
            <i class="faPra fa-briefcase"></i>
          </div>
          <div class="cbp_tmlabel wow fadeInRight">
            <h3>Research Assistant</h3>
            <h4><i class="glyphicon glyphicon-map-marker"></i>National Changhua University of Education, Changhua, Taiwan</h4>
            <div class="date"><i class="fa fa-calendar"></i>March 2008 – July 2008</div>
            <p class="projectParagraph">• Research assistant in: “Industry-oriented Finance Courses Construction and Assessment Study”<br>• Assisted in building a computer classroom relating to finance</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
