<!--<div class="container">
<div class="row">
<div class="col-md-12">
<div class="jumbotron text-center">
	<div class="row">
	  <div class="col-md-8">
	    <p>My Information</p>
	    </div>
	    <div class="col-md-4">
	     <img src="img/samplephoto.png" class="img-thumbnail img-responsive" alt="My photo" width="250" height="300">
	      </div>
	 </div>
</div>
</div>
</div>
</div>-->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

<script src="js/home.js"></script>
<link rel="stylesheet" href="css/home.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
		  <div class='card'>
             <header></header>
          </div>
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>Chia-Yin Tsai</h2>
                    <small><cite title="Gainesville, FL, USA">Gainesville, FL, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                    <h5 id="jobtitle"><strong>IT Assistant</strong></h5>
                    <p><strong>Hobbies: </strong> listen to music, learn new things, and coding. </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">JAVA</span>
                        <span class="tags">C#</span>
                        <span class="tags">VBScript</span>
                        <span class="tags">SQL</span>
                        <span class="tags">HTML</span>
                        <span class="tags">CSS</span>
                        <span class="tags">JavaScript</span>
                        <span class="tags">AngularJS</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="../img/yin.png" alt="" class="img-rounded img-responsive" style="margin-top:15px; margin-bottom:15px;">
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4">
                   <!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="https://drive.google.com/open?id=0B7Lu5sOE5Y37VXRoZUZ5Z25venM" class="btn btn-info btn-block" style="margin-top:15px;" role="button"><span class="fa fa-download"></span> Resume</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>

    <div class="container">
	<div class="team-specialization sp-rounded animation fadeInUp animated">
    <div class="row">
        <div class="col-md-6">
            <div class="progress html">
                <div class="bar" style="width: 100%;"><span class="skill"><Strong>HTML+CSS</Strong></span></div>
            </div>
            <div class="progress java">
                <div class="bar" style="width: 85%;"><span class="skill"><Strong>JavaScript</Strong></span></div>
            </div>
            <div class="progress C">
                <div class="bar" style="width: 85%;"><span class="skill"><Strong>C#</Strong></span></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="progress VB">
                <div class="bar" style="width: 90%;"><span class="skill"><Strong>VBScript</Strong></span></div>
            </div>
            <div class="progress SQL">
                <div class="bar" style="width: 85%;"><span class="skill"><Strong>SQL</Strong></span></div>
            </div>
            <div class="progress BS">
                <div class="bar" style="width: 95%;"><span class="skill"><Strong>JAVA</Strong></span></div>
            </div>
        </div>
    </div>
</div>
</div>