<!--<div class="jumbotron text-center">
	<h1>Publications Page</h1>
	
	<p>{{ message }}</p>
</div>-->

<link rel="stylesheet" href="css/pub.css">

<div class="container">
<div class="letter">
  <div class="row">
  	<div class="col-md-4">
     <img src="../img/cover.jpg" id="cover">
    </div>
    <div class="col-md-8" id="study">
    <br><h4>Topic: <br><strong>A Study of Investor Sentiment and Dumb Money Effect</strong></h4>
    <p>Bryan H. Chen ；Chia-Yin Tsai<p>
    <p>Journal of Business Administration</p>
    <p>Dec. 2010 published</p>
    <br>
    <a href="http://www.airitilibrary.com/Publication/alDetailedMesh?DocID=10259627-201012-201101100050-201101100050-1-26" target="_blank" class="btn btn-info" role="button">Publication URL</a>
    </div>
    </div>
  </div>
</div>