<link rel="stylesheet" href="css/work.css">
<link href='http://fonts.googleapis.com/css?family=Oswald:700,300' rel='stylesheet' type='text/css'>

<div class="case-study-gallery">
  
<div class="case-study study1">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">Chinese church Website</h2>
    <a class="case-study__link" href="http://www.gcccfl.org/" target="_blank">View Website</a>
  </div>
</div>

<div class="case-study study2">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">Ruby on rails Practice</h2>
    <a class="case-study__link" href="https://static-samplepages.herokuapp.com/" target="_blank">Sample App</a>
    <br>
    <a class="case-study__link" href="https://limitless-waters-5575.herokuapp.com/" target="_blank">Listing Users</a>
  </div>
</div>
  
</div>

 